extends default

block content
    link(rel="stylesheet", href="stylesheets/categories.css")
    div.grid-container
        each category in categories
            div.grid-item
                p #{category.name}

    