doctype html
html
    head
        title #{title}
        link(rel = "stylesheet", href ="/bootstrap-3.3.7-dist/css/bootstrap.css ")
        link(rel = "stylesheet", href ="/bootstrap-3.3.7-dist/css/bootstrap-theme.css")
        link(rel="stylesheet", href="stylesheets/default.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        mata(charset="UTF-8")
        sciprt(src="../data/jquery.js")
        script(src="../bootstrap-3.3.7-dist/js/bootstrap.js")
        script(type="text/javascript", src="javascripts/link.js")
    body
        block header
            header
                img(src="images/logo03.png", alt="logo", id="logo")

                div(id="login")
                    a(href='/login'): button(type="button") login
                    //- button(type="button", onlick=directTo("/login")) login
                div(id="register")
                    a(href='/register'): button(type="button") register

                nav(id = "nav_bar")
                    a(href="/") Home
                    a(href="/categories") Category
                    a(href="#Trending") Trending
                    a(href="/products") All Products
                    a(href="#Contact-Us") Contact Us
                    
                form(method="POST")
                    input(type="text", id="search", placeholder="search")
                
        block content

        block footer
            footer Copyright &copy; Matrix 2019
