doctype html
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        mata(charset="UTF-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/default.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
        block header
            header.container-fluid
                .row
                    .col-md-10
                        img(src="/images/logo03.png", alt="logo", id="logo")
                    
                    if authenticated
                        .col-md-1
                            a(href='/profile', class="btn btn-warning", role="button") Profile
                        .col-md-1
                            a(href='/logout', class="btn btn-warning", role="button") Logout
                    else
                        .col-md-1
                            a(href='/login', class="btn btn-warning", id="login", role="button") Login
                        .col-md-1
                            a(href='/register', class="btn btn-warning", id="register", role="button") Register
                nav(class="row navbar navbar-expand-sm")
                    .col-md-9
                        ul.navbar-nav
                            li.nav-item
                                a(class="nav-link", href="/") Home
                            li.nav-item
                                a(class="nav-link", href="/categories") Category
                            li.nav-item
                                a(class="nav-link", href="#Trending") Trending
                            li.nav-item
                                a(class="nav-link", href="/products") All Products
                            li.nav-item
                                a(class="nav-link", href="#Contact-Us") Contact Us
                    .col-md-3
                        form(class="form-inline ", action="/search", method="POST")
                            .input-group
                                input(type="text", name="search", id="search", class="form-control", placeholder="Search")
                                .input-group-append
                                    button(type="submit", class="btn btn-warning") Search

        block message
            #msgType
            if msgType == "ERROR"
                div(class="alert alert-danger alert-dismissible")
                    button(type="button", class="close", data-dismiss="alert") &times;
                    h4 #{msg}
            else if msgType == "SUCCESS"
                div(class="alert alert-success alert-dismissible")
                    button(type="button", class="close", data-dismiss="alert") &times;
                    h4 #{msg}
                
        block content

        block footer
            footer.container-fluid
                p.col-12 Copyright &copy; Matrix 2019
