extends default

block content
    link(rel="stylesheet", href="/stylesheets/index.css")

    .container-fluid
        .row
            each product in products
                div(class="col-md-3 card")
                    img(class="card-img-top", src=`${product.image}`, alt="Drink image")
                    .card-body
                        h4.card-title #{product.name}
                        p.card-text #{product.description}
                        a(href=`/products/${product.id}`, class="btn btn-warning") More Detail
