extends default

block content
    link(rel="stylesheet", href="stylesheets/index.css")
    
    div(class="row")
        div(class="column")
            div(class="card")
                img(src="/images/products/drink1.jpg", alt ="alcohol")
                h3 Captain Morgan
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink3.jpg", alt ="alcohol")
                h3 Fernet Branca
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink1.jpg", alt ="alcohol")
                h3 Captain Morgan
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink4.jpg", alt ="alcohol")
                h3 Crown Royal
                p Some text
                p: button More Details

    div(class="row")
        div(class="column")
            div(class="card")
                img(src="/images/products/drink1.jpg", alt ="alcohol")
                h3 Captain Morgan
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink3.jpg", alt ="alcohol")
                h3 Fernet Branca
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink1.jpg", alt ="alcohol")
                h3 Captain Morgan
                p Some text
                p: button More Details

        div(class="column")
            div(class="card")
                img(src="/images/products/drink4.jpg", alt ="alcohol")
                h3 Crown Royal
                p Some text
                p: button More Details

    div(class="row")
            div(class="column")
                div(class="card")
                    img(src="/images/products/drink1.jpg", alt ="alcohol")
                    h3 Captain Morgan
                    p Some text
                    p: button More Details

            div(class="column")
                div(class="card")
                    img(src="/images/products/drink3.jpg", alt ="alcohol")
                    h3 Fernet Branca
                    p Some text
                    p: button More Details

            div(class="column")
                div(class="card")
                    img(src="/images/products/drink1.jpg", alt ="alcohol")
                    h3 Captain Morgan
                    p Some text
                    p: button More Details

            div(class="column")
                div(class="card")
                    img(src="/images/products/drink4.jpg", alt ="alcohol")
                    h3 Crown Royal
                    p Some text
                    p: button More Details