extends default

block content
    link(rel="stylesheet", href="/stylesheets/login.css")
    
    form(action='#0', id="login-form", method="POST")
        div
            input#username(type='text', name='username', required='', placeholder=' ')
            label(for='username')  UserName
        div
            input#password(type='password', name='password', required='', placeholder=' ', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
            label(for='password') Password
        input(type='submit', value='Login')