doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/login.css")
    body
        div(class = "login-page")
            div(class = "form")
                form(id="login-form", method="POST")
                    input(type="text", name="username", placeholder="user name")
                    input(type="password", name="password", placeholder="password")
                    button(type="submit") Login