extends default

block content
    link(rel="stylesheet", href="/stylesheets/products.css")

    .container-fluid
        .row
            div(id="addProduct", class='col-md-3')
                a(href="/addProduct") Add Product
            each product in products
                div(class="col-md-3 card")
                    img(class="card-img-top", src=`/uploads/${product.image}`, alt="Drink image")
                    .card-body
                        a(href=`/products/${product.id}`, class="btn streched-link") More Detail