extends default

block content
    link(rel="stylesheet", href="/stylesheets/products.css")

    .container-fluid
        div(id ="products",class = "row")
            div(id="addProduct", class='col-md-3 card')
                a(href ="/addProduct")
                    .add
            each product in products
                div(class="col-md-3 card")
                    img(class="card-img-top", src=`${product.image}`, alt="Drink image")
                    .card-body
                        a(href=`/products/${product.id}`, class="btn btn-waring streched-link") More Detail