extends default

block content
    link(rel="stylesheet", href="/stylesheets/products.css")

    div.grid-container
        each product in products
            div.grid-item
                a(href=`/products/${product.id}`) #{product.name}