doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Product: Coke Cola
    link(rel='stylesheet', href='/stylesheets/product1.css')
  body
    section.web_title
      h1.Dream Dream
      h3.taste taste
      a(href='/logIn')
        button#login1(type='button') login
      a(href='/register')
        button#register1(type='button') register
      ul
        li
          a(href='/') Home
        li
          a(href='/categories') Category
        li
          a(href='#Trending') Trending
        li
          a(href='/products') All Products
        li
          a(href='#Contact-Us') Contact Us
      form(method='POST')
        input(type='text', placeholder='search')
    section.product
      .introduction
        .product_detail
          h1 Coke Cola
          hr.title_line
          p
            span.detail_title Price: 
            span.special_content 2.00$
          hr
          p
            span.detail_title Score: 
            span.special_content 10
          hr
          p
            span.detail_title Energy: 
            span.content 180 KJ (per 100mL)
          hr
          p
            span.detail_title Protein: 
            span.content 0 g
          hr
          p
            span.detail_title Fat: 
            span.content 0 g
          hr
          p
            span.detail_title Sugar: 
            span.content 10.6 g (per 100mL)
          hr
          p
            span.related Related: 
            span.related_pdt
              a(href='') Coca Cola No Sugar
              | , 
              a(href='') Diet Coca Cola
        .images
          #top.top_images(style='left:0px;')
            img#picture(src='uploads/cola1.png')
          #bottom.bottom_images
            img(src='uploads/cola1.png')
            img(src='uploads/cola2.jpg')
            img(src='uploads/cola3.jpg')
        .description
          header.product_des
            h1 Description
          table(border='1')
            tbody
              tr
                td
                  span.product_info Category
                td
                  a(href='') Soft Drink
              tr
                td
                  span.product_info Manufacturer
                td The Coca-Cola Company
              tr
                td
                  span.product_info Country of origin
                td United States
              tr
                td
                  span.product_info Ingredients
                td
                  ul
                    li Carbonated water
                    li
                      | Sugar (sucrose or high-fructose corn syrup (HFCS) depending on country of origin)
                    li Caffeine
                    li Phosphoric acid
                    li Caramel color
                    li Natural flavorings
    hr
    section.comment_area
      .add_comment
        header
          h1 Comment
        div
          form
            textarea(placeholder='add your comment...')
        .submit
          button(type='button') submit
      .comment_list
        h3 Comment List
        hr
        .comment
          .conmment_details
            div(style='float:left;')
              span.comment_name Hong Li 
              span 1 hour ago
            .comment_content
              | hello world!
        hr
        .comment
          .conmment_details
            div(style='float:left;')
              span.comment_name Mingyu Su 
              span 2 hour ago
            .comment_content
              | hello Melbourne!
        .show_more_comment
          button show more comments
    script(src='image.js')