extends default

block content
    link(rel="stylesheet", href="/stylesheets/register.css")

    div(class = "register-page")
        div(class = "form")
            form(id="register-form", method="POST")
                input(type="text", name="username", placeholder="username")
                input(type="text", name="password", placeholder="password")
                input(type="text", name="mail", placeholder="mail")
                button(type="submit") Register