@font-face {
    font-family: 'REEJI';
    src: url('../fonts/REEJI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    display: block;
}

header {
    background-image: url(../images/OrangeJuice.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 10%;
    clip: rect(0, 200px)
}

#logo {
    position: relative;
}

#login, #register {
    display: inline-block;
    position: absolute;
}

#login {
    right: 200px;
}

#register {
    right: 10px;
}

#login > a, #register > a {
    color: rgb(0, 0, 0);
}

#nav_bar{
    background-color: #312109;
    position: absolute;;
    top:200px;
    height:60px;
    width:100%;
    padding:0 5px;
    margin:0;
}

a {
    display:inline-block;
    width:150px;
    height:60px;
    color: #FDE6C4;
    text-decoration: none;
    font:17px/60px arial;
    position: relative;
    text-align: center;
}

a:hover {
    background-color: #666666;
    color:#FFFFFF;
}

#search {
    float:right;
    border-radius: 50px;
    position:absolute;
    top:220px;
    left: 1050px;
    width: 200px;
    outline: none;
}

footer{
    position:relative;
    top:150px;
    width: 100%;
    background-color: #312109;
    padding: 60px 0px;
    color: #FDE6C4;
    text-align: center;
}