.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-family: Palatino, "palatino LT STD","Palatino Linotype","Book Antiqua", Georgia , serif;
}

#addProduct {
    border: 2px rgb(201, 201, 201) dashed;
    border-radius: 5px;
}

#addProduct:hover {
    background-color: rgb(201, 201, 201)
}