.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-family: Palatino, "palatino LT STD","Palatino Linotype","Book Antiqua", Georgia , serif;
}

#addProduct {
    border: 2px rgb(201, 201, 201) dashed;
    border-radius: 5px;
}

#image:hover {
    background-color: rgb(201, 201, 201)
}

#products{
	width:90%;
	margin:0 auto;
}

.add {
 
  width: 200px;
  height: 200px;
  color: #ccc;
  transition: color .25s;
  margin-left: auto;
  margin-right: auto;

}

.add::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -10px;
  border-top: 20px solid;
}

.add::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-left: -10px;
  margin-top: -100px;
  border-left: 20px solid;
}

.add:hover {
  color: gold;
}